/*============DEFINICION DE LAS VARIABLES============*/
:root {
    /*============ COLORES ============*/
    /*===== Tonos principales=====*/
    --tono: 324; /*HSL*/
    --complementario: 54;
    --contraste: 214;

    /*===== Paletas monocromatica principal=====*/
    --color-principal: hsla(var(--tono), 100%, 40%, 1);
    --color-principal-medio: hsla(var(--tono),100%, 86%, 1);
    --color-principal-claro: hsla(var(--tono, 100%, 98%, 1);
    --color-principal-oscuro: hsla(var(--tono), 100%, 15%, 1);

    /*=====Color complementario=====*/
    --color-complementario: hsla(var(var(--complementario), 100%, 40%, 1));

    /*===== Color de contraste oscuro =====*/
    --color-contraste-oscuro: hsla(var(var(--contraste), 13%, 10%, 1));
    --color-contraste-medio: hsla(var(var(--contraste), 15%, 40%, 1));

    /*====== VALORES======*/
    --color-blanco: white;

    /*============ TIPOGRAFIAS ============*/
    --fuente-principal: Poppins , sans-serif;

    /*===== Peso de la fuente =====*/
    --light: 300;
    --normal: 400;
    --bold: 700;
}

/*============ CONFIGURACIONES GLOBALES============*/
h1, h2, h3, h4, h5, h6, p, a, span {
    color: var(--color-contraste-oscuro);
    text-decoration: none;
} 

ul {
    list-style: none;
}

.light {
    font-weight: var(--light);
}

.normal {
    font-weight: var(--normal);
    }

    .bold {
        font-weight: var(--bold);
    }

    /*============ RESETEAR ESTILOS DEL NAVEGADOR ============*/
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: var(--fuente-principal);
    }
